# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# production error logs
npm-debug.log*

# misc
.DS_Store
*.swp
.vscode/
.idea/
dist/
build/
coverage/
.parcel-cache/